@charset "UTF-8";

h1 {
	text-align: center;
}

header {
	margin: 0px;
	background-color: yellow;
	padding: 5px;
}

h1 {
	margin: 0px;
}

nav {
	display: table-cell;
	background-color: orange;
	padding: 20px;
	width: 10%;
}

section {
	display: table-cell;
	background-color: aqua;
	padding: 15px;
}

footer {
	background-color: purple;
	padding: 8px;
	margin: 0px 0px 0px 0px;
}