@charset "UTF-8";

h3 {
	color: brown;
	text-align: center;
}

body, p {
	font-family: fantasy;
}

p1 {
	color: blue;
	font-weight: bold;
}

form {
	min-width: auto;
	min-height: auto;
	background-color: pink;
}

footer {
	background-color: orange;
	border-radius: 25px;
}